/** @format */

body {
  background-color: #101216;
  font-family: "Press Start 2P", cursive;
  height: 550px;
}

.container {
  margin: 4rem auto 0 auto;
  background-color: #222831;
  padding: 30px;
  display: flex;
  border: solid black;
  width: 500px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 480px;
  background-color: #393e46;
  border: solid #101216;
  border-radius: 15px;
}

.grid div {
  height: 24px;
  width: 24px;
}

.mini-grid {
  margin-left: 75px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  background-color: #393e46;
  border: solid #101216;
  border-radius: 15px;
}

.mini-grid div {
  height: 40px;
  width: 40px;
}
.tetromino {
  border: solid #393e46;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 5px;
}
/* buttons */
.startBtn {
  margin: 45px 0 0 75px;
  font-weight: bold;
  text-align: center;
  width: 160px;
  height: 60px;
  border: solid;
  border-radius: 15px;
  font-size: 20px;
  background-color: #00adb5;
  line-height: 60px;
  color: #eeeeee;
  cursor: pointer;
}

.startBtn:hover {
  background-color: #009ba3;
}

.startBtn:active {
  background-color: #01868d;
}

.soundSettings {
  display: flex;
}
.unmuteMusic {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 45px 0 0 75px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: solid;
  border-radius: 15px;
  font-size: 40px;
  background-color: #00adb5;
  line-height: 60px;
  color: #eeeeee;
  cursor: pointer;
}
.line {
  width: 50px;
  height: 3px;
  background-color: #eeeeee;
  border: solid #949494 1px;
  transform: rotate(135deg);
  position: relative;
  bottom: 33px;
  left: 5px;
}

.unmuteMusic:hover {
  background-color: #009ba3;
}

.unmuteMusic:active {
  background-color: #01868d;
}

.muteMusic {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 45px 0 0 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: solid;
  border-radius: 15px;
  font-size: 40px;
  background-color: #00adb5;
  line-height: 60px;
  color: #eeeeee;
  cursor: pointer;
}

.muteMusic:hover {
  background-color: #009ba3;
}

.muteMusic:active {
  background-color: #01868d;
}
/* buttons */

.scoreScore {
  margin: 45px 0 0 80px;
  padding: 0;
  font-size: 20px;
  color: white;
}

.notmainMenu {
  position: absolute;
  top: 80px;
  left: 25px;
  width: 300px;
  height: 400px;
  background-color: #222831;
  border: solid #101216;
  border-radius: 15px;
}

.menuStyle1 {
  margin: 50px 0 30px 0;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  color: white;
}
.menuStyle2 {
  margin: 50px 0 30px 0;
  font-size: 18px;
  text-align: center;
  color: #babec4;
}

.placements {
  margin: 15px 0 0 30px;
  font-size: 10px;
  color: #babec4;
}

.menuStyle3 {
  margin: 30px 0 20px 0;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.menuStyle4 {
  margin: 20px 10px 30px 10px;
  line-height: 20px;
  font-size: 9px;
  text-align: center;
  color: #babec4;
}
